USE [master]
GO
/****** Object:  Database [MiniStore]    Script Date: 12/6/2022 1:03:20 AM ******/
CREATE DATABASE [MiniStore]
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MiniStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [MiniStore]
GO

/****** Object:  Table [dbo].[CaLamViec]    Script Date: 12/6/2022 1:03:20 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[CaLamViec](
	[maCa] [nchar](50) NOT NULL,
	[tenCa] [nvarchar](50) NOT NULL,
	[thoiGian] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CaLamViec] PRIMARY KEY CLUSTERED 
(
	[maCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 12/6/2022 1:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[maCV] [nchar](50) NOT NULL,
	[tenCV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[maCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 12/6/2022 1:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[maHD] [nchar](50) NOT NULL,
	[maMH] [nchar](50) NOT NULL,
	[soLuong] [int] NOT NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC,
	[maMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 12/6/2022 1:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[maPhieuNhap] [nchar](50) NOT NULL,
	[maMH] [nchar](50) NOT NULL,
	[soLuong] [int] NOT NULL,
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[maPhieuNhap] ASC,
	[maMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/6/2022 1:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [nchar](50) NOT NULL,
	[maNV] [nchar](50) NOT NULL,
	[maKH] [nchar](50) NOT NULL,
	[maGiamGia] [nchar](50) NOT NULL,
	[tongHoaDon] [float] NOT NULL,
	[ngayBan] [datetime] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/6/2022 1:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [nchar](50) NOT NULL,
	[tenKH] [nvarchar](50) NOT NULL,
	[SDT] [nchar](30) NOT NULL,
	[status] [smallint] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiMatHang]    Script Date: 12/6/2022 1:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMatHang](
	[maLMH] [nchar](50) NOT NULL,
	[tenLMH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiMatHang] PRIMARY KEY CLUSTERED 
(
	[maLMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatHang]    Script Date: 12/6/2022 1:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatHang](
	[maMH] [nchar](50) NOT NULL,
	[maLMH] [nchar](50) NOT NULL,
	[tenMatHang] [nvarchar](50) NOT NULL,
	[thanhTien] [float] NOT NULL,
	[soLuong] [int] NOT NULL,
	[status] [smallint] NULL,
 CONSTRAINT [PK_MatHang] PRIMARY KEY CLUSTERED 
(
	[maMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 12/6/2022 1:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[maNCC] [nchar](50) NOT NULL,
	[tenNCC] [nchar](50) NOT NULL,
	[SDT] [nchar](30) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[maNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/6/2022 1:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [nchar](50) NOT NULL,
	[maCV] [nchar](50) NOT NULL,
	[maCa] [nchar](50) NOT NULL,
	[tenNV] [nvarchar](50) NOT NULL,
	[cccd] [nvarchar](50) NOT NULL,
	[sdt] [nvarchar](50) NULL,
	[status] [smallint] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuGiamGia]    Script Date: 12/6/2022 1:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuGiamGia](
	[maGiamGia] [nchar](50) NOT NULL,
	[tenGiamGia] [nvarchar](50) NOT NULL,
	[noiDung] [nvarchar](50) NOT NULL,
	[tileGiam] [float] NOT NULL,
 CONSTRAINT [PK_PhieuGiamGia] PRIMARY KEY CLUSTERED 
(
	[maGiamGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapHang]    Script Date: 12/6/2022 1:03:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapHang](
	[maPhieuNhap] [nchar](50) NOT NULL,
	[maNCC] [nchar](50) NOT NULL,
	[ngayNhap] [date] NOT NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[maPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CaLamViec] ([maCa], [tenCa], [thoiGian]) VALUES (N'FU1                                               ', N'Full Sáng', N'6:00-14:00')
INSERT [dbo].[CaLamViec] ([maCa], [tenCa], [thoiGian]) VALUES (N'FU2                                               ', N'Full Chiều', N'14:00-22:00')
INSERT [dbo].[CaLamViec] ([maCa], [tenCa], [thoiGian]) VALUES (N'PA1                                               ', N'Parttime Sáng', N'8:00-14:00')
GO
INSERT [dbo].[ChucVu] ([maCV], [tenCV]) VALUES (N'BV                                                ', N'Bảo vệ')
INSERT [dbo].[ChucVu] ([maCV], [tenCV]) VALUES (N'NV                                                ', N'Nhân viên')
INSERT [dbo].[ChucVu] ([maCV], [tenCV]) VALUES (N'QL                                                ', N'Quản lý')
GO
INSERT [dbo].[CTHD] ([maHD], [maMH], [soLuong]) VALUES (N'HD20220426082650                                  ', N'CAN002                                            ', 2)
INSERT [dbo].[CTHD] ([maHD], [maMH], [soLuong]) VALUES (N'HD20220426082650                                  ', N'DRI001                                            ', 1)
INSERT [dbo].[CTHD] ([maHD], [maMH], [soLuong]) VALUES (N'HD20220426082650                                  ', N'DRI002                                            ', 1)
GO
INSERT [dbo].[CTPN] ([maPhieuNhap], [maMH], [soLuong]) VALUES (N'NH001                                             ', N'STU001                                            ', 12)
INSERT [dbo].[CTPN] ([maPhieuNhap], [maMH], [soLuong]) VALUES (N'NH001                                             ', N'STU002                                            ', 46)
INSERT [dbo].[CTPN] ([maPhieuNhap], [maMH], [soLuong]) VALUES (N'NH001                                             ', N'STU003                                            ', 12)
GO
INSERT [dbo].[HoaDon] ([maHD], [maNV], [maKH], [maGiamGia], [tongHoaDon], [ngayBan]) VALUES (N'HD20220426082650                                  ', N'NV004                                             ', N'KH001                                             ', N'NOTSHOCK                                          ', 193000, CAST(N'2022-04-26T08:26:50.000' AS DateTime))
INSERT [dbo].[HoaDon] ([maHD], [maNV], [maKH], [maGiamGia], [tongHoaDon], [ngayBan]) VALUES (N'HD20220426090130                                  ', N'NV002                                             ', N'KH001                                             ', N'NOTSHOCK                                          ', 18000, CAST(N'2022-04-26T09:01:20.000' AS DateTime))
INSERT [dbo].[HoaDon] ([maHD], [maNV], [maKH], [maGiamGia], [tongHoaDon], [ngayBan]) VALUES (N'HD20220426091315                                  ', N'NV002                                             ', N'KH002                                             ', N'NOTSHOCK                                          ', 56000, CAST(N'2022-04-26T09:13:15.000' AS DateTime))
GO
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [SDT], [status]) VALUES (N'---                                               ', N'Khách vãng lại', N'0936423459                    ', 1)
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [SDT], [status]) VALUES (N'KH001                                             ', N'Lê Như Tâm', N'0937698412                    ', 1)
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [SDT], [status]) VALUES (N'KH002                                             ', N'Huỳnh Đức Hoa', N'0849494948                    ', 1)
GO
INSERT [dbo].[LoaiMatHang] ([maLMH], [tenLMH]) VALUES (N'BEAN                                              ', N'Các loại đậu')
INSERT [dbo].[LoaiMatHang] ([maLMH], [tenLMH]) VALUES (N'BEER                                              ', N'Đồ uống có cồn')
INSERT [dbo].[LoaiMatHang] ([maLMH], [tenLMH]) VALUES (N'CAN                                               ', N'Thực phẩm đóng hộp')
GO
INSERT [dbo].[MatHang] ([maMH], [maLMH], [tenMatHang], [thanhTien], [soLuong], [status]) VALUES (N'BEA001                                            ', N'BEAN                                              ', N'Đậu xanh', 18000, 9900, 1)
INSERT [dbo].[MatHang] ([maMH], [maLMH], [tenMatHang], [thanhTien], [soLuong], [status]) VALUES (N'BEA002                                            ', N'BEAN                                              ', N'Đậu đen', 18000, 18, 1)
INSERT [dbo].[MatHang] ([maMH], [maLMH], [tenMatHang], [thanhTien], [soLuong], [status]) VALUES (N'BEA003                                            ', N'BEAN                                              ', N'Đậu phộng', 18000, 18, 1)
GO
INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [SDT]) VALUES (N'AGGA                                              ', N'AGONGA                                            ', N'0453245312                    ')
INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [SDT]) VALUES (N'DA                                                ', N'Đông Á                                            ', N'0909090909                    ')
INSERT [dbo].[NhaCungCap] ([maNCC], [tenNCC], [SDT]) VALUES (N'KON                                               ', N'Konosuba                                          ', N'0342354252                    ')
GO
INSERT [dbo].[NhanVien] ([maNV], [maCV], [maCa], [tenNV], [cccd], [sdt], [status]) VALUES (N'ad                                                ', N'QL                                                ', N'FU1                                               ', N'Admin', N'079202034777', N'0707029548', 1)
INSERT [dbo].[NhanVien] ([maNV], [maCV], [maCa], [tenNV], [cccd], [sdt], [status]) VALUES (N'NV001                                             ', N'NV                                                ', N'FU2                                               ', N'Trần Nguyên Lộc', N'079165969975', N'0936446546', 1)
INSERT [dbo].[NhanVien] ([maNV], [maCV], [maCa], [tenNV], [cccd], [sdt], [status]) VALUES (N'NV002                                             ', N'NV                                                ', N'FU1                                               ', N'Võ Đăng Quang', N'079641561656', N'0934464886', 1)
GO
INSERT [dbo].[PhieuGiamGia] ([maGiamGia], [tenGiamGia], [noiDung], [tileGiam]) VALUES (N'BIG10P                                            ', N'Giảm 10%', N'Giảm 10% trên tổng hoá đơn', 0.1)
INSERT [dbo].[PhieuGiamGia] ([maGiamGia], [tenGiamGia], [noiDung], [tileGiam]) VALUES (N'BIG15P                                            ', N'Giảm 15%', N'Giảm 15% trên tổng hoá đơn', 0.15)
INSERT [dbo].[PhieuGiamGia] ([maGiamGia], [tenGiamGia], [noiDung], [tileGiam]) VALUES (N'NOTSHOCK                                          ', N'---', N'Không giảm', 0)
GO
INSERT [dbo].[PhieuNhapHang] ([maPhieuNhap], [maNCC], [ngayNhap]) VALUES (N'NH001                                             ', N'AGGA                                              ', CAST(N'2022-04-24' AS Date))
INSERT [dbo].[PhieuNhapHang] ([maPhieuNhap], [maNCC], [ngayNhap]) VALUES (N'NH002                                             ', N'VNG                                               ', CAST(N'2022-04-24' AS Date))
INSERT [dbo].[PhieuNhapHang] ([maPhieuNhap], [maNCC], [ngayNhap]) VALUES (N'NH003                                             ', N'VLEG                                              ', CAST(N'2022-04-24' AS Date))
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HoaDon] FOREIGN KEY([maHD])
REFERENCES [dbo].[HoaDon] ([maHD])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_HoaDon]
GO
ALTER TABLE [dbo].[CTHD]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_MatHang] FOREIGN KEY([maMH])
REFERENCES [dbo].[MatHang] ([maMH])
GO
ALTER TABLE [dbo].[CTHD] CHECK CONSTRAINT [FK_CTHD_MatHang]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_MatHang] FOREIGN KEY([maMH])
REFERENCES [dbo].[MatHang] ([maMH])
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_MatHang]
GO
ALTER TABLE [dbo].[CTPN]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_PhieuNhapHang] FOREIGN KEY([maPhieuNhap])
REFERENCES [dbo].[PhieuNhapHang] ([maPhieuNhap])
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_PhieuNhapHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_PhieuGiamGia] FOREIGN KEY([maGiamGia])
REFERENCES [dbo].[PhieuGiamGia] ([maGiamGia])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_PhieuGiamGia]
GO
ALTER TABLE [dbo].[MatHang]  WITH CHECK ADD  CONSTRAINT [FK_MatHang_LoaiMatHang] FOREIGN KEY([maLMH])
REFERENCES [dbo].[LoaiMatHang] ([maLMH])
GO
ALTER TABLE [dbo].[MatHang] CHECK CONSTRAINT [FK_MatHang_LoaiMatHang]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_CaLamViec] FOREIGN KEY([maCa])
REFERENCES [dbo].[CaLamViec] ([maCa])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_CaLamViec]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([maCV])
REFERENCES [dbo].[ChucVu] ([maCV])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[PhieuNhapHang]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhapHang_NhaCungCap] FOREIGN KEY([maNCC])
REFERENCES [dbo].[NhaCungCap] ([maNCC])
GO
ALTER TABLE [dbo].[PhieuNhapHang] CHECK CONSTRAINT [FK_PhieuNhapHang_NhaCungCap]
GO
USE [master]
GO
